footer{
    background: var(--color-primary);
    padding: 3em 0;
    text-align: center;
    font-size: 0.9em;
    margin-top: 7em;
}

footer a{
    color: var(--color-bg);
}

.footer-logo{
    font-size: 2em;
    font-weight: 500;
    margin-bottom: 2em;
    display: inline-block;
}

.permalinks{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
    margin: 0 auto 3em;
}

.footer-socials{
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-bottom: 4em;
}

.footer-socials a{
    background: var(--color-bg);
    color: var(--color-white);
    padding: 0.7em 1em 0.5em;
    border-radius: 0.7em;
    border: 1px solid transparent;
}

.footer-socials a:hover{
    background: transparent;
    color: var(--color-bg);
    border-color: var(--color-bg);
}

.footer-copyright{
    margin-bottom: 4em;
    color: var(--color-bg);
}
.footer-copyright small{
    font-size: 1em;
}

@media screen and (max-width: 600px) {
    .permalinks{
        flex-direction: column;
        gap: 1.5em;
    }

    .footer-socials{
        margin-bottom: 2.6em;
    }
}